# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.ammnulkfbwzdsjfaevaq:ProjetoBlackbelt@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.ammunkfkwzdsjfaevaq:ProjetoBlackbelt@aws-1-us-east-1.pooler.supabase.com:5432/postgres"

# Clerk (Autenticação)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dm9jYWwtcHVtYS0xNC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_CI887lMF08DE81a2iL3Qu5LmgkILmmxoDnVKPhTFBI

# Clerk Webhook
CLERK_WEBHOOK_SECRET=whsec_6WKvlGEiIn9wZMPjYx3Q3qyi7VAbwqjX

# JWT
JWT_SECRET=meu_secret_super_seguro_123456

# Servidor
PORT=3000
NODE_ENV=development